.cm-jb-irrelevant {
  color: #404040;
}
  
.cm-jb-time {
  color: #005893;
}

.cm-jb-player {
  color: #9c8dc4;
}

.cm-jb-player-target {
  color: #756CB2;
}

.cm-jb-role-warden {
  color: #4366d9;
}

.cm-jb-role-guard {
  color: #0093B4;
}

.cm-jb-role-prisoner {
  color: #C19C00;
}

.cm-jb-role-rebel {
  color: #c50e13;
}

.cm-jb-action-general {
  color: #3b734d;
}

.cm-jb-action-pressed {
  color: #4c7d6b;
}

.cm-jb-action-threw {
  color: #39ac39;
}

.cm-jb-action-hurt {
  color: #b63f3f;
}

.cm-jb-action-killed {
  color: #ff2e2e;
  text-shadow: 0 0 4px #ff2e2e80;
}

.cm-jb-action-picked {
  color: #6b8f6b;
}

.cm-jb-action-reskinned {
  color: #7f567f;
}

.cm-jb-action-dropped {
  color: #6b4c2f;
}

.cm-jb-action-broke {
  color: #6b7c8f;
}

.cm-jb-damageamount {
  color: #91633b;
}

.cm-jb-weapon {
  color: #AFAFAF;
}

.cm-jb-action-warden-related {
  color: #9db5e5;
}

.cm-jb-button-name {
  color: #AFAFAF;
}

.cm-jb-button-id {
  color: #2f4f4f;
}
