.cm-jb-header {
  color: #555555;
}
  
.cm-jb-time {
color: #005893;
}

.cm-jb-player {
color: #BFA350;
}

.cm-jb-teamct {
color: #0093B4;
}

.cm-jb-teamt {
color: #FF6363;
}

.cm-jb-rebel {
color: #AA2B2B;
}

.cm-jb-action {
color: #669966;
}

.cm-jb-target {
color: #5EDE6A;
}

.cm-jb-damage {
color: #BD3900;
}

.cm-jb-damageamount {
color: #AC0000;
}

.cm-jb-weapon {
color: #AFAFAF;
}